/* ============================= */
/* === Clash Royale Fan Page === */
/* ============================= */

body {
	background-color: #6699ff;
	margin: 25px;
	/*padding: 15px;*/
}
/* === Header === */
/*#brickTop {
	background-image: url("assets/pics/brick.png");
	background-repeat: repeat-x;
	background-size: 70px;
	height: 40px;
	width: 40%;
	margin: 0 30% 0 30%;

}*/
#header {
	/*background-color: black;*/
	border: 60px solid black;
	border-image: url("assets/pics/brick.png") 27 30 repeat;
}
#header h1 {
	color: white;
	text-align: center;
}
